<div class="container table-responsive col-xs-12" id="userSpace">
    <h3 class="text-center">{{userLogin.uname}}的个人空间</h3>
    <a href="#/game" class="btn btn-primary">返回游戏页面</a><br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>编号</th>
            <th>先/后手</th>
            <th>对局记录</th>
            <th>保存时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="record in recordList">
            <td ng-bind="$index+1"></td>
            <td>{{record.off?'先手':'后手'}}</td>
            <td>
                <select class="form-control">
                    <option ng-repeat="piece in record.records">
                        {{($index+record.off)%2?'玩家':'电脑'}}：{{piece}}
                    </option>
                </select>
            </td>
            <td ng-bind="record.save_time|date:'yyyy-MM-dd HH:mm:ss'"></td>
            <td>
                <button ng-click="loadRecord(record.rid)" class="btn btn-success">读取</button>
                <button ng-click="deleteRecord(record.rid,$index)" class="btn btn-danger">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-include="'include/login.html'"></div>